:root {
  --coal: #0f0d0e;
  --charcoal: #231f20;
  --charcoal-10: rgba(35, 31, 32, 0.1);
  --charcoal-50: rgba(35, 31, 32, 0.5);
  --gray: #262522;
  --yellow: #fcba28;
  --pink: #f38ba3;
  --green: #0ba95b;
  --purple: #7b5ea7;
  --biege-body: #fffbe3;
  --biege: #f9f4da;
  --biege-10: rgba(249, 244, 218, 0.1);
  --biege-50: rgba(249, 244, 218, 0.5);
  --blue: #12b5e5;
  --orange: #fc7428;
  --red: #ed203d;
}


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');


html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;

  background: var(--biege-body);
  color: var(--charcoal);
}

.container {
  max-width: 1024px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.logo {
  padding: 30px;
  width: 100px;
  height: 100px;
}

.header {
  font-size:2.75rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.text {
margin: 3rem;
font-size: 1.5rem;
line-height: 2rem;
}
.sub-header {
font-size: 1.5rem;
display: flex;
justify-content: center;

}

.header-color{
  background-color: var(--yellow);
}